<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<filter>
		<filter-name>AllCharacterSetFilter</filter-name>
		<filter-class>com.itheima.filter.AllCharacterSetFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AllCharacterSetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>BatchQueryServlet</servlet-name>
		<servlet-class>com.itheima.web.controller.BatchQueryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.itheima.web.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>com.itheima.web.controller.LogOutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IvrSearchServlet</servlet-name>
		<servlet-class>com.itheima.web.controller.IvrSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IvrResultServlet</servlet-name>
		<servlet-class>com.itheima.web.controller.IvrResultServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ScuSearchServlet</servlet-name>
		<servlet-class>com.itheima.web.controller.ScuSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ScuResultServlet</servlet-name>
		<servlet-class>com.itheima.web.controller.ScuResultServlet</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>BatchQueryServlet</servlet-name>
		<url-pattern>/client/BatchQueryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/client/LogOutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/client/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IvrSearchServlet</servlet-name>
		<url-pattern>/client/IvrSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IvrResultServlet</servlet-name>
		<url-pattern>/client/IvrResultServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScuSearchServlet</servlet-name>
		<url-pattern>/client/ScuSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScuResultServlet</servlet-name>
		<url-pattern>/client/ScuResultServlet</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- 配置pushlet的监听器 -->
	 <servlet>
        <servlet-name>pushlet</servlet-name>
        <servlet-class>
            nl.justobjects.pushlet.servlet.Pushlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>pushlet</servlet-name>
        <url-pattern>/pushlet.srv</url-pattern>
    </servlet-mapping>
	
	
	
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<!-- <error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/message.jsp</location>
	</error-page> -->
</web-app>
